<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <skills>
        <creative>
            <text>Креативность</text>
        </creative>
        <analyst>
            <text>Аналитик</text>
        </analyst>
        <optimizer>
            <text>Оптимизатор</text>
        </optimizer>
        <flex>
            <text>Гибкость</text>
        </flex>
        <broad>
            <text>Широта взглядов</text>
        </broad>
        <curiosity>
            <text>Любопытство</text>
        </curiosity>
        <caution>
            <text>Предусмотрительность</text>
        </caution>
        <stress>
            <text>Стрессоустойчивость</text>
        </stress>
        <!--...-->
    </skills>

    <clusters>
        <int>
            <text>Интеллект</text>
            <skills>
                <creative/>
                <analyst/>
                <optimizer/>
                <flex/>
                <broad/>
                <curiosity/>
                <caution/>
                <stress/>
            </skills>
        </int>

        <bio>
            <text>Биология</text>
            <skills>
                <stress/>
                <decisive>
                    <text>Решительность, смелость</text>
                </decisive>
                <search>
                    <text>Поисковая активность</text>
                </search>
                <initiative>
                    <text>Инициативность</text>
                </initiative>
                <suspense>
                    <text>Принятие неопределенности</text>
                </suspense>
                <intuit>
                    <text>Интуиция</text>
                </intuit>
                <courage>
                    <text>Мужество</text>
                </courage>
            </skills>
        </bio>

        <will>
            <text>Характер, воля</text>
            <skills>
                <responsible>
                    <text>Ответственность</text>
                </responsible>
                <punctual>
                    <text>Пунктуальность</text>
                </punctual>
                <executive>
                    <text>Исполнитель</text>
                </executive>
                <purpose>
                    <text>Целеустремленность</text>
                </purpose>
                <growth>
                    <text>Установка на рост</text>
                </growth>
                <reflection>
                    <text>Рефлексия</text>
                </reflection>
                <schoolboy>
                    <text>Ученик знайка</text>
                </schoolboy>
            </skills>
        </will>

        <people>
            <text>Я и люди</text>
            <skills>
                <collectivist>
                    <text>Коллективист</text>
                </collectivist>
                <adaptation>
                    <text>Адаптация</text>
                </adaptation>
                <dialogue>
                    <text>Диалогичность</text>
                </dialogue>
                <feeling>
                    <text>Эмоциональный интеллект</text>
                </feeling>
                <social>
                    <text>Социальный интеллект</text>
                </social>
                <assertive>
                    <text>Ассертивность</text>
                </assertive>
                <nonconformism>
                    <text>Нонконформизм</text>
                </nonconformism>
            </skills>
        </people>

        <influence>
            <text>Я влияю</text>
            <skills>
                <demonstrative>
                    <text>Демонстративный</text>
                </demonstrative>
                <competing>
                    <text>Соревнующийся</text>
                </competing>
                <encourager>
                    <text>Вдохновитель</text>
                </encourager>
                <manager>
                    <text>Распорядитель</text>
                </manager>
                <mentor>
                    <text>Наставничество</text>
                </mentor>
                <opener>
                    <text>Открывает глаза дороги</text>
                </opener>
                <harmonizer>
                    <text>Гармонизатор</text>
                </harmonizer>
            </skills>
        </influence>
    </clusters>
</config>