<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <skills>
        <creative>
            <text>Креативность</text>
            <report>
                Вы всегда прокладываете новые пути. Вам в тягость долго ходить старыми исхоженными тропами, использовать
                уже
                известные методы, даже если вы их сами и изобрели и сами проложили. Вы предпочитаете открыть новый
                способ и
                новый путь. Это касается всего: и отношений с людьми, и методов работы, и использование предметов, и
                оформления работы, и дороги на работу, и способов запоминания, и подачи материала.... Вы чувствуете в
                себе
                это побуждение к переменам. Эта сила, которая вас всё время заставляет быть активным созидателем нового,
                —
                находится внутри вас и она основана на интуиции, ведь новые решения — это решения новых вполне
                конкретных
                рабочих и жизненных задач. Интуиция помогает вам уловить суть проблемы.
                Вы и в детстве некоторые вещи делали не так, как делают другие люди, хотя не всегда за это вы получали
                похвалу. И сейчас, даже если ваши идеи не всегда применимы и не всегда хорошо работают, вы все равно
                находитесь в поиске новых решений, и решения выскакивают как будто бы даже помимо вашей воли, ваша
                творческая мысль работает постоянно.
                У вас всегда есть идеи. Это касается создания нового и улучшения старого. Без таких людей, как вы —
                человечество не развивалось бы.
                У вас всегда есть идеи как улучшить или как изменить ситуацию, продукт, отношения, как сократить затраты
                на
                создание продукта, каким бы он ни был. Может быть, эти идеи не всегда одинаково хороши, не всегда они
                применимы, но они всегда есть. И это вас отличает от многих ваших коллег или однокашников, которые
                согласны
                на существующее положение вещей.
                Вам не нужно бояться этой вашей особенности, даже если ваши идеи не всегда приветствуются в кругу
                коллег.
                Главное в этой ситуации — ваша недремлющая креативность. Её стоит ценить и лелеять. Её враг —
                конформизм.
                Как только вы соглашаетесь с неписаными общими правилами — креативность затухает.
                Она применима везде и всюду: и в мирной повседневной жизни, и в переговорах, и в понимании сути
                происходящего, и в изготовлении еды, и в ручной работе, и в построении планов компании и вашей частной
                жизни, и в способах лечения болезней, и в разработке новых зданий — что вам больше по душе и по силам.
                Всегда и везде.
                Ваше недремлющая креативность может оказаться опасной лишь в одном случае — если вы, разрабатывая новую
                идею, не считаетесь с негативными последствиями этой идеи, будь она воплощена, для других людей.
                Поэтому креативность хороша в сочетании со здравым смыслом. Однако если вы в этом не сильны — будьте
                рядом в
                команде со смелыми обладателями здравого смысла.
                Вы и сами неоднократно убедились, что вас считают творческим человеком, обращаются к вам за помощью в
                ситуациях, требующих новой идеи или необычного взгляда на текущую ситуацию.
                И вы действительно неизменно оказываетесь на высоте, удивляя людей своей свежестью взгляда и новизной
                предложений, а иногда вводя их в недоумение.
            </report>
        </creative>
        <analyst>
            <text>Аналитик
            </text>
            <report>Какая бы проблемная ситуация перед вами ни стояла, ваш ум стремится подвергнуть её анализу. Вы
                получаете удовольствие от самой возможности — собрать факты, детально их рассматривать, сравнивать,
                взвешивать, строить гипотезы, опровергать их, делать собственные выводы. Всё это вы делаете с целью
                понимания природы происходящего явления, его слабых и сильных сторон, опасных и благотворных
                возможностей.
                Объектом вашего рассмотрения может быть новый знакомый человек, новый продукт, новая ситуация в
                коллективе и в обществе, новая задача, новая технология, проблемная ситуация, требующая понимания и
                разрешения. Не всё из этого вам одинаково интересно, но если интересно, то вы с удовольствием начинаете
                анализ.
                Вы не бросаетесь решать проблему, пока вы её не поймете со всех сторон. Вообще-то, решать проблему — это
                не ваше главное занятие. Анализировать ситуацию — вот в чем ваш талант.
                Этот талант может быть высоко оценен окружающими вас людьми в любой сфере и любой профессии, поскольку
                он позволяет вам увидеть неочевидные закономерности в предмете и процессе.
                Аналитика смотрит назад и смотрит вперед. Однако будьте осторожны с прогнозами, если вы их строите на
                основе имеющихся закономерностей. Если вы не учтёте неожиданных внезапно возникающих привходящих
                факторов, ваш прогноз может не сбыться. Но ваш аналитический, исследовательский вклад в дело невозможно
                переоценить. Люди, принимающие решения, основываются и на ваших выводах.
            </report>
        </analyst>
        <optimizer>
            <text>Оптимизатор</text>
            <report>Вы умеете видеть и ценить имеющиеся в вашем распоряжении ресурсы — временные, материальные,
                интеллектуальные. Вы не просто их умеете сохранить и приумножить, но вы также стремитесь ими разумно
                распорядиться. Именно поэтому благодаря вашему вмешательству в процесс, ситуация идет на поправку.
                Почему? Во-первых, вы рациональны, во-вторых, вы экономны.
                Если вам не станут мешать, вы могли бы оптимизировать не только ваш личный рабочий участок, но и работу
                всего отдела, а может, и работу всей организации. Такие люди, как вы, совершенно необходимы для принятия
                важных управленческих решений в организации — чего бы эти решения ни касались: переезда, слияния,
                открытия нового подразделения, организации склада, сокращения трат, приобретения новых инструментов и
                нового персонала. Этот талант можно применить в отделе развития, в логистике, в маркетинге и т.д.
                Однако у всякого качества, если его усилить, возникает опасная сторона. Опасность для вас и для дела
                может происходить из стремления сэкономить ресурсы в ущерб развитию и человеческим чувствам. Поэтому
                будьте осторожны в этом моменте. Однако настоящий разумный оптимизатор учитывает не только временнЫе и
                физические ресурсы, но также и человеческие, психологические, эмоциональные ресурсы.
                В принятии важных решений должен быть разумный противовес стремлению наладить процесс через экономию
                физических и денежных ресурсов. Этот противовес вы можете найти в самом себе. Тогда ваши решения станут
                поистине мудрыми.
            </report>
        </optimizer>
        <flex>
            <text>Гибкость</text>
            <report>Гибкость — условие выживания человека в физическом и социальном мире и предполагает при
                необходимости смену когнитивных и поведенческих стратегий.
                Вы можете изменить свое поведение под влиянием меняющейся реальности. Вы способны поменять способы
                достижения цели: для вас цель важнее способов её достижения, даже если этот способ придумали лично вы.
                Если жизнь принуждает вас поменять и цели — вы пойдете и на это, у вас хватит гибкости. Однако речь не
                идет о давлении на вас со стороны других людей (поменять мнение, способ, цель под угрозой увольнения или
                даже смерти). Вы смотрите на жизнь открытыми глазами, а не через инструкцию.
                Вы способны продуктивно общаться с людьми разных социальных положений, возрастов и уровня образования.
                Вы умеете посмотреть на вещи глазами другого человека. И это делает также честь вашему социальному и
                эмоциональному интеллекту.
                В конкретной ситуации вы довольно легко можете переключиться с одной задачи на другую — если это
                помогает решить главную задачу. И это указывает на физические качества вашего мозга, благодаря которым
                вы можете переключать внимание с одного объекта на другой.
                Вы довольно легко можете принять и новые способы работы, если они предлагаются вам извне. Но также вы
                сами активно ищете новые инструменты работы, новые методы и алгоритмы.
                Вы готовы учиться новому, если это необходимо для выживания в будущем
                Вы способны изменить свое мнение и решение по важному поводу, если у вас появились новые аргументы в
                пользу нового взгляда.
                Где нужна гибкость?
                Гибкость ради гибкости не является ценностью, она может быть не только бесполезна, но и вредна. Гибкость
                нужна в решении любых задач. Её видно только со стороны и её видно только после работы (я проявил
                гибкость/негибкость).
                Ради эффективного решения задачи вы можете сказать себе: а вот сейчас стоит отключить все, кроме
                упорства. И вы становитесь словно негибким, но это все же есть гибкость, это гибкость второго порядка:
                вы проявили гибкость, приняв решение не быть гибким на определенном участке работы.
            </report>
        </flex>
        <broad>
            <text>Широта взглядов</text>
            <report>Вам интересно узнавать принципиально новое и необычное, вы это делаете чтобы обогатить ваше
                представление о вещах, теориях и взглядах. Вы полагаете что все точки зрения имеют право на
                существование.
                Вы довольно терпимо относитесь к людям иных взглядов и вкусов, иных культур и вам интересно узнавать,
                как живут и чем руководствуются люди иных культур, взглядов и вкусов. Вы говорите себе: ну, раз люди это
                делают, значит, в этом есть для них смысл.
                И вы не согласны жестко подавлять чужое мнение и выступать против чужого образа жизни, если этот чужой
                образ жизни и чужие взгляды не ставят вас под удар. Вы думаете так: если это мне не мешает, то пусть они
                делают как им нравится.
                Широта взглядов на мир человеческого поведения это необходимое условие для сотрудничества и
                экономического процветания и мирного сосуществования.
                Однако есть и границы. Они проходят там, где начинаются лично ваши интересы. Если чужие действия (а
                слово это тоже действие) прямиком грозят вам потерей чего-то реально важного для вас — стоит вступить в
                борьбу за свои ценности. Если вам проще уступать, чем бороться, то вы рискуете стать жертвой собственной
                толерантности. Тренинг границ, индивидуальный или групповой тренинг ассертивного поведения вам поможет
                укрепить себя по части борьбы за свои права.
                Стоит поразмышлять — за что вы точно можете вступить в бой, а за что нет.
            </report>
        </broad>
        <curiosity>
            <text>Любознательность</text>
            <report>Ваш жаждущий ум постоянно ищет новых знаний, и он их находит. Вы интересуетесь самыми разными
                вещами, теориями и взглядами. Вам интересно действительно многое, круг ваших интересов довольно широк.
                Это дает вам преимущество перед многими людьми, которые не столь любознательны, как вы. Про вас иногда с
                восхищением говорят и думают, что вы энциклопедически образованны.
                Эрудиция никак не может вам повредить, пока у вас остается оперативная память для анализа полученных
                знаний, для их систематизации и пока вы можете из массива данных находить сведения, нужные вам для дела.
                Стоит следить за актуальностью сведений и их достоверностью и стремиться к их применению. Если эти
                знания из разных областей, и у вас есть время и место в памяти сопоставлять эти сведения и совершать с
                ними различные мыслительные операции, то со временем благодаря новым нейронным связям, вы сможете делать
                неожиданные и ценные глубокие умозаключения относительно целостной картины мира. Однако если просто
                складывать знания в голове и не оперировать ими, то со временем они становятся не столь полезны.
            </report>
        </curiosity>
        <caution>
            <text>Предусмотрительность</text>
            <report>Вы умеете в вашем представлении о вещах соединить прошлое с будущим. Из каждой ошибки вы способны
                извлечь для себя несколько уроков. Поэтому вы редко повторяете свои ошибки. Вы очень цените уроки
                прошлого, хотя они и не были безболезненны для вас. Вы идете в будущее не без опасений, но вы и не
                застреваете в прошлом. Ценя уроки прошлого, вы стараетесь обезопасить себя новыми полезными знаниями.
                Вы очень цените настоящее знание: оно позволяет вам лучше разглядеть новую реальность, в которой
                приходится жить и действовать. Однако вы не кидаетесь в это новое безоглядно. Вы всё обдумываете прежде,
                чем начать действовать в новой реальности. Вы взвешиваете на весах потенциальную опасность и полезность
                новых идей и продуктов.
                Вы способны разглядеть хорошее и жизнеспособное в новых идеях и продуктах.
                Однако если на ваших внутренних весах «прошлое — будущее» начнет перевешивать прошлое с его
                предупреждениями об опасностях, то вы сами можете оказаться в опасности неприятия будущего. И чтобы
                этого не случилось, вам нужно и дальше держаться этого курса: осторожная смелость.
            </report>
        </caution>
        <stress>
            <text>Стрессоустойчивость</text>
            <report>Вы одарены редким качеством: в стрессовых ситуациях вы способны не раскиснуть и действовать
                эффективно, без потери хладнокровия. Ваша голова не теряет работоспособности и даже порой выдвигает
                новые идеи, лучшие, чем в обычной мирной обстановке. Если неприятности приходят неожиданно, вы умеете
                внутренне собраться и принимать правильные решения. Вы знаете, что давление окружающих и цейтнот —
                сильные вещи, и вы чувствительны к ним, но лично вас они не сбивают с толку и не принуждают поступать
                необдуманно. Вы, как правило, принимаете верные решения даже если все вокруг нервничают и не знают что
                делать.
                Эти качества важны для всех, но особенно для пилота, хирурга, журналиста, политика, руководителя,
                переговорщика.
                Если вы неосознанно стремитесь попадать в ситуации стресса, цейтнота и общественного давления, то стоит
                подумать над ценой этих приключений для вашего здоровья и вашего окружения, ваших денег. Вы можете быть
                опасны для себя и окружающих. Если стремления попадать в стрессовые ситуации нет, и вы мужественно
                справляетесь со стрессовыми ситуациями — то вы настоящий герой, и вы стоите очень дорого на рынке труда.
            </report>
        </stress>
        <decisive>
            <text>Решительность, смелость</text>
            <report>Вы обладаете ярким качеством — решительности и смелости. В определенный момент в экстренной, сложной
                и запутанной ситуации нужно бывает принять решение — чтобы начать действия или повернуть процесс в
                другом направлении или остановить его. Вы не из тех, кто прячется за спины других людей и медлит в такой
                ситуации, когда нужны решительные действия. Вы то как раз способны на смелое решительное действие. Вам
                не раз с восхищением говорили, что вы человек смелый и решительный.
                Вы иногда жалеете о принятом когда-то решении, но все равно предпочитаете решительность топтанию на
                месте и откладыванию решения. Это ваша натура — быть решительными и смелым человеком.
                Решительность — необходимое качество, если вы рискуете каким-то ресурсом: репутацией, деньгами,
                временем, здоровьем (своим или чужим). Однако иногда последствия действий бывают необратимыми. Тогда
                решительность и смелость могут навредить и вам, и другим людям — если вы предусмотрели и учли не всё и
                если вам не достаёт опыта и компетентности.
                Вам как решительному и смелому человеку стоит развивать в себе предусмотрительность и осторожность, не
                бояться спрашивать совета у опытных людей. Постепенно накопится опыт, и вы станете и компетентным,
                осмотрительным и решительным человеком, А такие люди очень и очень ценны в любой сфере — и в политике, и
                в бизнесе, и в семье.
            </report>
        </decisive>
        <search>
            <text>Поисковая активность</text>
            <report>Вы обладаете бесценным качеством, его невозможно приобрести за деньги. В новой для вас ситуации,
                которая требует решения (квест, новое место, учебное или рабочее задание, болезни и другие неприятности)
                вы прежде всего активно изучаете обстановку. Вы строите «карту местности», не боитесь узнавать новые
                вещи, разговариваете с людьми, изучаете ситуацию руками и головой, экспериментируете с ней, строите
                гипотезы одну за другой и проверяете их. Все это вы делаете для того, чтобы решить важный жизненный
                вопрос. Вы не можете пассивно ждать исхода ситуации, если она еще не разрешилась. Напротив — вы ищете
                решения. Это умение и сильное желание активно искать выход из положения является часто залогом успеха и
                процветания, а также и здоровья. Сам процесс поиска для вашей души уже психотерапевтическая процедура,
                поскольку дает веру и надежду на благоприятный исход. Поскольку в жизни неблагоприятные исходы
                случаются, то поиск можно и нужно предпринимать не на земле, а в мире смыслов и духовных сущностей. Если
                вы находите ответ на свой вопрос «как жить без вот этого» в сфере духовной, это спасение.
            </report>
        </search>
        <initiative>
            <text>Инициативность</text>
            <report>тут описание</report>
        </initiative>
        <suspense>
            <text>Принятие неопределенности</text>
            <report>тут описание</report>
        </suspense>
        <intuit>
            <text>Интуиция</text>
            <report>тут описание</report>
        </intuit>
        <courage>
            <text>Мужество</text>
            <report>тут описание</report>
        </courage>
        <responsible>
            <text>Ответственность</text>
            <report>тут описание</report>
        </responsible>
        <punctual>
            <text>Пунктуальность</text>
            <report>тут описание</report>
        </punctual>
        <executive>
            <text>Исполнитель</text>
            <report>тут описание</report>
        </executive>
        <purpose>
            <text>Целеустремленность</text>
            <report>тут описание</report>
        </purpose>
        <growth>
            <text>Установка на рост</text>
            <report>тут описание</report>
        </growth>
        <reflection>
            <text>Рефлексия</text>
            <report>тут описание</report>
        </reflection>
        <schoolboy>
            <text>Ученик знайка</text>
            <report>тут описание</report>
        </schoolboy>
        <collectivist>
            <text>Коллективист</text>
            <report>тут описание</report>
        </collectivist>
        <adaptation>
            <text>Адаптация</text>
            <report>тут описание</report>
        </adaptation>
        <dialogue>
            <text>Диалогичность</text>
            <report>тут описание</report>
        </dialogue>
        <feeling>
            <text>Эмоциональный интеллект</text>
            <report>тут описание</report>
        </feeling>
        <social>
            <text>Социальный интеллект</text>
            <report>тут описание</report>
        </social>
        <assertive>
            <text>Ассертивность</text>
            <report>тут описание</report>
        </assertive>
        <nonconformism>
            <text>Нонконформизм</text>
            <report>тут описание</report>
        </nonconformism>
        <demonstrative>
            <text>Демонстративный</text>
            <report>тут описание</report>
        </demonstrative>
        <competing>
            <text>Соревнующийся</text>
            <report>тут описание</report>
        </competing>
        <encourager>
            <text>Вдохновитель</text>
            <report>тут описание</report>
        </encourager>
        <manager>
            <text>Распорядитель</text>
            <report>тут описание</report>
        </manager>
        <mentor>
            <text>Наставничество</text>
            <report>тут описание</report>
        </mentor>
        <opener>
            <text>Открывает глаза дороги</text>
            <report>тут описание</report>
        </opener>
        <harmonizer>
            <text>Гармонизатор</text>
            <report>тут описание</report>
        </harmonizer>

    </skills>

    <clusters>
        <int>
            <text>Интеллект</text>
            <skills>
                <creative/>
                <analyst/>
                <optimizer/>
                <flex/>
                <broad/>
                <curiosity/>
                <caution/>
            </skills>
        </int>

        <bio>
            <text>Биология</text>
            <skills>
                <stress/>
                <decisive/>
                <search/>
                <initiative/>
                <suspense/>
                <intuit/>
                <courage/>
            </skills>
        </bio>

        <will>
            <text>Характер, воля</text>
            <skills>
                <responsible/>
                <punctual/>
                <executive/>
                <purpose/>
                <growth/>
                <reflection/>
                <schoolboy/>
            </skills>
        </will>

        <people>
            <text>Я и люди</text>
            <skills>
                <collectivist/>
                <adaptation/>
                <dialogue/>
                <feeling/>
                <social/>
                <assertive/>
                <nonconformism/>
            </skills>
        </people>

        <influence>
            <text>Я влияю</text>
            <skills>
                <demonstrative/>
                <competing/>
                <encourager/>
                <manager/>
                <mentor/>
                <opener/>
                <harmonizer/>
            </skills>
        </influence>
    </clusters>
</config>