{% extends 'base.html.twig' %}

{% block title %}Пройти тесты онлайн{% endblock %}

{% block body %}
    <div class="container">
        <h1>Тестономика</h1>
        <a href="/tests">Онлайн тесты бесплатно</a>
    </div>
{% endblock %}
