{% extends 'base.html.twig' %}

{% block title %}Пройти тесты онлайн{% endblock %}

{% block body %}
    <div class="container">
        <p>Тестодром &mdash; это много бесплатных  тестов: серьезных психологических, профориентационных, тестов на эрудицию и развлекательных тестов.</p>
        <p>С помощью ваутестс вы хорошо и с пользой для себя проведете время, получите материал для размышления о себе.
            К Тестодрому вы сможете обращаться в любое время. Тестодром ваш помощник.</p>
        <br/>
        <a class="btn btn-primary" href="{{ path('tests.index') }}">{% trans %}Перейти к тестам!{% endtrans %}</a>
    </div>
{% endblock %}
