{% extends 'base.html.twig' %}

{% block title %}Пройти тесты онлайн{% endblock %}

{% block body %}
    <div class="container">
        <p>Ваутестс - это много бесплатных  тестов: серьезных психологических, профориентационных, тестов на эрудицию и развлекательных тестов.</p>
        <p>С помощью ваутестс вы хорошо и с пользой для себя проведете время, получите материал для размышления о себе.
            К Ваутестс вы сможете обращаться в любое время. Ваутестс ваш помощник.</p>
        <a class="btn btn-primary" href="{{ path('tests.index') }}">Онлайн тесты бесплатно</a>
    </div>
{% endblock %}
