{% extends 'base.html.twig' %}

{% block title %}Тесты{% endblock %}

{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin') }}">Панель управления</a></li>
                <li class="breadcrumb-item active" aria-current="page">Тесты</li>
            </ol>
        </nav>

        <h1>Тесты</h1>

    </div>
{% endblock %}
