{% extends 'base.html.twig' %}

{% block title %}{{ catalog.metaTitle(app.request.locale) }}{% endblock %}
{% block description %}{{ catalog.metaDescription(app.request.locale) }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-9">
                <h1>{{ catalog.name(app.request.locale) }}</h1>
                {% include "/articles/_articles.html.twig" with {'articles': articles} %}
            </div>
            <div class="col mt-4 mt-lg-0">
                <h6>{{ 'Категории'|trans }}</h6>
                {% include "/articles/_catalogs.html.twig" with {'catalogs': catalogs} %}
            </div>
        </div>
    </div>
{% endblock %}
