@import "bootstrap/bootstrap";

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.stage {
  animation: animateBg 2s infinite linear;
  background-color: #fff;
  background-image: linear-gradient(90deg, #fbfbfb, #e7e7e7, #fbfbfb, #e7e7e7);
  background-size: 300% 100%;
  border-radius: 5px;
}

@keyframes animateBg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}


.tnc-welcome {
  &__title {
    margin-bottom: 0.8rem;
  }

  &__description {
    margin: 1.2rem 0;
  }

  &__duration {
    font-weight: bold;

    &:before {
      content: '';
      background: url(/images/sys/clock.svg);
      background-size: cover;
      height: 15px;
      width: 15px;
      display: inline-block;
      margin-right: 5px;
      position: relative;
      top: 2px;
    }
  }

  &__loading {
    margin-top: 2rem;
    height: 50px;
    width: 175px;
  }
}