@import "bootstrap/bootstrap";
//@import "bootstrap/node_modules/bootstrap/scss/mixins";
//@import "bootstrap/cosmo/_variables.scss";

// >> from template
#test__ajax-screen {

}

.test__question-form {
  height: 100%;
}

.test__question-form button {
  cursor: pointer !important;
}

//.test__result_header {
//  text-align: center;
//  padding: 2rem 0 !important;
//}

//.test__result_explanation {
//  margin: 2rem 0;
//}

.test__result_actions {
  margin-top: 2rem;
}

.test__result_others {
  margin-top: 2rem;
}

// << from template


.test__result_explanation {
  .progress {
    height: 1.5rem;
  }
}

.test-result-achieve {
  display: flex;
  align-items: center;

  &__medal {
    height: 80px;
    margin-right: 15px;
  }

  &__name {
    font-weight: bold;
  }
}

// for white theme of test, all svg should be dark

#test__ajax-screen {
  //background: #f5f7fb;
}

.test {
  &__quiz {
    font-size: 120%;
    //height: 100%;
    //min-height: 100vh;
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    //padding: 70px 0 50px;
    //.container {
    //  display: flex;
    //  align-items: center;
    //  flex-direction: column;
    //  justify-content: center;
    //  height: 100%;
    //}

    &-content {
      //padding: 15px;
      //border: 1px solid $gray-300;
    }

    &_rating {
      .test__options_holder .test__option label {
        //padding-left: 0;
      }

      .test__options_holder .test__option input {
        display: none;
      }
    }

    .test__option.disabled {
      opacity: 0.5;
    }
  }

  &__preview-screen-h1 {
    //text-align: center;
  }

  &__preview-screen-duration {
    font-weight: bold;
    margin: 1rem 0;
  }

  &__preview-screen-buttons {
    margin-top: 2rem;
    @media (max-width: map-get($grid-breakpoints, 'md')) {
      .btn {
        width: 100%;

        &:not(:first-child) {
          margin-top: 10px;
        }
      }
    }
  }

  &__description {
    margin: 1rem 0;
  }

  &__preview-screen-icon-wrapper {
    display: flex
  }

  &__preview-screen-icon {
    max-width: 180px;
    margin: auto
  }

  &__question-content {
    //display: flex;
    //flex-flow: column;
    //min-height: 100vh;
    //justify-content: center;
    //padding: 70px 0 50px;
    //height: 100%;
    //justify-content: space-between;
  }

  &__top {
    //position: absolute;
    top: 0;
    //padding-top: 15px;
    height: 60px;
    width: 100%;
    //display: flex;
    //
    //padding-top: 15px;
  }

  &__top-inner {
    opacity: 0.8;
    margin-top: 2rem;
    //max-width: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  &__progress-counter {
    font-size: 18px;
    margin-right: 25px;
    //position: absolute;
    //top: 15px;
    //left: 30px;
  }

  &__progress_line {
    //border-radius: 0;
    //position: fixed;
    //bottom: 0;
    width: 100%;
    height: 15px;
    //background: rgba(0, 0, 0, 0.125);
  }

  &__exit-btn {
    //position: absolute;
    //top: 15px;
    //right: 30px;
    color: rgba(0, 0, 0, 0.125) !important;

    span {
      font-size: 50px;
      font-weight: bold;
    }
  }

  &__name {
    font-size: 120%;
    padding-bottom: 1rem;
  }

  &__text {
    //font-weight: bold;
    padding: 0 3px 1rem;
  }

  &__options_holder {
    font-size: 120%;
  }

  &__option {
    padding: 10px;
    margin: 0 -15px;
    cursor: pointer;
    border-left: 4px solid transparent;
    position: relative;

    input[type='radio'] {
      visibility: hidden;
      display: contents;
    }

    label {
      //padding: 4px 8px;
      //cursor: pointer;
      //background: #f8f9fa;
      //border-radius: 4px;
      //box-shadow: inset 0 -1px #d6d9dc;
      //font-size: 90%;

      padding: 6px 15px;
      cursor: pointer;
      //border-radius: 75px;
      border-radius: 3px;
      font-size: 80%;
      border: 1px solid #8080801a;
      background: #fdfdfd;
    }

    &_chosen {
      background: $gray-100;
      border-left: 4px solid;
    }

    &:before {
      display: inline-block;
      font-family: 'Material Icons';
      font-size: 44px;
      font-weight: bold;
      position: absolute;
      top: 2px;
      right: 10px;
      opacity: 0.5;
    }

    &_correct {
      border-color: $green;

      &:before {
        content: "check";
        color: $green;
      }

      label {
        color: $green;
      }
    }

    &_wrong {
      border-color: $red;

      &:before {
        content: "close";
        color: $red;
      }

      label {
        color: $red;
      }
    }

    &_disabled {
      //color: red;
    }
  }

  &__option-reveal {
    display: none;
    font-size: 70%;
    padding-left: 36px;
  }

  &__img-wrapper {

  }

  &__img {
    max-height: 300px;
  }

  &__btn-row {
    margin-top: 15px;

    button {
      border: 1px solid #f8f8f8;
      border-radius: 75px;
      background: #fff;

      span {
        font-size: 25px;
        color: #697177;
      }
    }
  }

  &__btn-direct {
    width: 60px;
    height: 41px;
    display: none;

    &_forced {
      display: inline-block;
    }

    span {
      font-size: 34px;
    }
  }

  //#ff9800
}

#test-screens-wrapper.lite {
  background: #fff;
  //svg image[xlink|href*="temp"] {
  //  filter: invert(1);
  //}
  img[src$='.svg'] {
    filter: invert(1);
  }
}

.result-block-row {
  margin-bottom: 1rem;

  .progress {
    margin-bottom: .5rem;
  }

  &__text {
    margin-top: .5rem;
  }

  &__variant {
    margin-top: .5rem;
  }
}