{% extends('tests/result.html.twig') %}

{% block result %}
    <style>
        @media (max-width: 768px) {
            .result_table td {
                display: block;
            }
        }
        @media (min-width: 769px) {
            .result_table td {
                width: 50%
            }
        }
    </style>
    <div class="container">
        
    </div>
{% endblock %}