{% extends('tests/result.html.twig') %}

{% block result %}
    <div class="container">
        {% if sum >= 11 and sum <= 16 %}
            <h4>Высокий уровень потребности в ощущениях</h4>
            <p>Это означает наличие влечения, возможно бесконтрольного, к новым, "щекочущим нервы" впечатлениям, что
                часто
                может провоцировать испытуемого на участие в рискованных авантюрах и мероприятиях.</p>
        {% endif %}
        {% if sum >= 6 and sum <= 10 %}
            <h4>Средний уровень потребности в ощущениях</h4>
            <p>Он свидетельствует об умении контролировать такие потребности, умеренности в их удовлетворении. Или,
                говоря
                иными словами, об открытости новому опыту, с одной стороны, и о сдержанности и рассудительности в
                необходимые моменты жизни — с другой.</p>
        {% endif %}
        {% if sum >= 0 and sum <= 5 %}
            <h4>Низкий уровень потребности в ощущениях</h4>
            <p>Это означает присутствие предусмотрительности и осторожности в ущерб получению новых впечатлений (и
                информации) от жизни. Испытуемый с таким показателем предпочитает стабильность и упорядоченность
                неизвестному и неожиданному в жизни.</p>
        {% endif %}

        <div class="progress mt-2">
            <div class="progress-bar" role="progressbar" style="width: {{ scale }}%;"
                 aria-valuenow="{{ scale }}"
                 aria-valuemin="0"
                 aria-valuemax="100">{{ sum }} из 16
            </div>
        </div>
    </div>
{% endblock %}