{#{% extends('tests/result.html.twig') %}#}

{% block result %}
    <div class="container">
        {% if sum >= 45 and sum <= 60 %}
            <p><b>Вы излишне агрессивны</b></p>
            <p>При том нередко бываете неуравновешенным и жестоким по отношению к другим. Вы надеетесь добраться до
                управленческих "верхов", рассчитывая на собственные методы, добиться успеха, жертвуя интересами окружающих.
                Поэтому Вас не удивляет неприязнь сослуживцев, но при малейшей возможности Вы стараетесь их за это наказать.</p>
        {% endif %}
        {% if sum >= 36 and sum <= 44 %}
            <p><b>Вы умеренно агрессивны</b></p>
            <p>Но вполне успешно идёте по жизни, поскольку в Вас достаточно здорового честолюбия и самоуверенности.</p>
        {% endif %}
        {% if sum >= 20 and sum <= 35 %}
            <p><b>Вы чрезмерно миролюбивы</b></p>
            <p>Что обусловлено недостаточной уверенностью в собственных силах и возможностях. Это отнюдь не значит, что Вы как
                травинка гнётесь под любым ветерком. И все же больше решительности Вам не помешает!</p>
        {% endif %}
        <div class="progress mt-2">
            <div class="progress-bar" role="progressbar" style="width: {{ scale }}%;"
                 aria-valuenow="{{ scale }}"
                 aria-valuemin="0"
                 aria-valuemax="100">{{ sum }} из 60
            </div>
        </div>

        {% if tri >= 21 and odin < 7 %}
            <p><b>Взрывы вашей агрессивности носят скорее разрушительный, чем конструктивный характер.</b></p>
            <p>Вы склонны к непродуманным поступкам и ожесточенным дискуссиям. Вы относитесь к людям пренебрежительно и своим
                поведением провоцируете конфликтные ситуации, которых вполне могли бы избежать.</p>
        {% endif %}
        {% if odin >= 7 and tri < 21 %}
            <p><b>Вы чрезмерно замкнуты.</b></p>
            <p>Это не значит, что Вам не присущи вспышки агрессивности, но Вы подавляете их уж слишком тщательно.</p>
        {% endif %}
    </div>
{% endblock %}