{#{% extends('tests/result.html.twig') %}#}

{% block result %}
    {% if sum >= 6 and sum <= 9 %}
        <p>Братец!</p>
        <p><b>Ты не американский шпион</b></p>
    {% endif %}
    {% if sum >= 0 and sum <= 5 %}
        <p>- Лови его!<br/>
            - Где ваши доказательства?</p>
        <p><b>Увы, ты американский шпион...</b></p>
    {% endif %}

    <p>Правильных ответов:</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{ scale }}%;"
             aria-valuenow="{{ scale }}"
             aria-valuemin="0"
             aria-valuemax="100">{{ sum }} из 9
        </div>
    </div>

    <br/>

    <h3>Правильные ответы</h3>
    <p><strong>1. Николай Некрасов, «Мороз, Красный нос»</strong></p>

    <p>Такого сердечного смеха, <br>
        И песни, и пляски такой<br>
        За деньги не купишь. «Утеха!»<br>
        Твердят мужики меж собой.<br>
        <br>
        В игре ее конный не словит,<br>
        В беде — не сробеет,— спасет;<br>
        <strong>Коня на скаку остановит,<br>
            В горящую избу войдет!</strong></p>


    <p><strong>2. А.С. Пушкин, «И. И. Пущину»</strong></p>
    <p><strong>Мой первый друг, мой друг бесценный!<br>
            И я судьбу благословил,</strong><br>
        Когда мой двор уединенный,<br>
        Печальным снегом занесенный,<br>
        Твой колокольчик огласил.</p>


    <p><strong>3. Корней Чуковский, «Айболит»</strong></p>
    <p>Но тут выплывает кит:<br>
        "Садись на меня, Айболит,<br>
        И, как большой пароход,<br>
        Тебя повезу я вперёд!"<br>
        И сел на кита Айболит<br>
        <strong>И одно только слово твердит:<br>
            "Лимпопо, Лимпопо, Лимпопо!"</strong></p>


    <p><strong>4. Владимир Маяковский, «Что такое хорошо и что такое плохо?»</strong></p>
    <p><strong>Если бьет дрянной драчун слабого мальчишку,<br>
            я такого не хочу даже вставить в книжку.</strong><br>
        Этот вот кричит: — Не трожь тех, кто меньше ростом! —<br>
        Этот мальчик так хорош, загляденье просто!</p>


    <p><strong>5. Самуил Яковлевич Маршак, «Вот какой рассеянный»</strong></p>
    <p>— Глубокоуважаемый<br>
        Вагоноуважатый!<br>
        Вагоноуважаемый<br>
        Глубокоуважатый!<br>
        <strong>Во что бы то ни стало<br>
            Мне надо выходить.<br>
            Нельзя ли у трамвала<br>
            Вокзай остановить?</strong><br>
        Вожатый удивился —<br>
        Трамвай остановился.<br>
        Вот какой рассеянный<br>
        С улицы Бассейной!</p>


    <p><strong>6. Владимир Маяковский, «Необычайное приключение, бывшее с Владимиром Маяковским летом на
            даче»</strong></p>
    <p><strong>Светить всегда, светить везде, до дней последних донца,</strong><br>
        светить — и никаких гвоздей! Вот лозунг мой — и солнца!</p>


    <p><strong>7. Русская пословица</strong></p>
    <p><strong>Муж и жена - одна сатана.</strong></p>


    <p><strong>8. А. С. Пушкин, «Я вас любил...»</strong></p>
    <p><strong>Я вас любил: любовь ещё, быть может,<br>
            В душе моей угасла не совсем;</strong><br>
        Но пусть она вас больше не тревожит;<br>
        Я не хочу печалить вас ничем.<br>
        Я вас любил безмолвно, безнадежно,<br>
        То робостью, то ревностью томим;<br>
        Я вас любил так искренно, так нежно,<br>
        Как дай вам Бог любимой быть другим.</p>


    <p><strong>9. Николай Некрасов, «Коробейники»</strong></p>
    <p><strong>Ой, полна, полна моя коробушка,<br>
            Есть и ситец, и парча,</strong><br>
        Пожалей, моя зазнобушка,<br>
        Молодецкого плеча!<br>
        Пойду выйду в рожь высокую,<br>
        Там до ночки погожу,<br>
        А завижу черноокую –<br>
        Все товары разложу.</p>
{% endblock %}