{#{% extends('tests/result.html.twig') %}#}

{% block result %}
    <div class="container">
        {% if sum >= 9 and sum <= 13 %}
            <p>Да ты географ!</p>
            <p><b>У тебя отличные знания географии!</b></p>
        {% elseif sum >= 4 and sum <= 8 %}
            <p>Без карты тебе не обойтись!</p>
            <p><b>У тебя средние знания географии</b></p>
        {% elseif sum >= 0 and sum <= 3 %}
            <p>География - это не твоё...</p>
            <p><b>Твои знания географии ниже среднего</b></p>
        {% endif %}

        <p>Правильных ответов:</p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ scale }}%;"
                 aria-valuenow="{{ scale }}"
                 aria-valuemin="0"
                 aria-valuemax="100">{{ sum }} из 13
            </div>
        </div>

        <br/>

        <h3>Правильные ответы</h3>
        <p>1. Земля крутится вокруг солнца.</p>
        <p>2. Атлантический океан. Печально-известный "Титаник", кстати, плыл именно по Атлантическому океану из Европы
            в
            Нью-Йорк.</p>
        <p>3. Уральские горы. С точки зрения географии Уральские горы не относятся ни к Европе, ни к Азии, так как
            являются
            барьером между ними.<br>
            В честь Уральских гор были названы гитара, мотоцикл и грузовой автомобиль.<br>
            Античные географы, которые знали о существовании Уральского хребта, полагали, что он знаменует собой край
            света, за
            которым ничего нет.<br>
            48 из 55 самых необходимых и востребованных полезных ископаемых во времена Советского Союза добывались
            именно на
            Урале.<br>
            Самая древняя гора на планете — гора Карандаш, входящая в состав Уральского горного хребта. Геологи
            оценивают её
            возраст в примерно 4,2 млрд лет, и это при том, что возраст самой Земли — около 4,6 млрд лет.</p>
        <p>4. Сахалин — самый большой остров в России. <br>
            Название «Сахалин» происходит от маньчжурского названия реки Амур — «Сахалян-Улла», что в переводе означает
            «Скалы
            чёрной реки» — название это, напечатанное на карте, было ошибочно отнесено к Сахалину, и в дальнейших
            изданиях карт
            печаталось уже как название острова.</p>
        <p>5. Антарктида. Это самое сухое (Сухие Долины) и самое холодное место на земле, не имеющее постоянного
            населения и
            делений на часовые пояса. Ещё Антарктида содержит около 70% мировых запасов пресной воды.</p>
        <p>6. Баку - это город, столица Азербайджана, самый крупный город Кавказа. Некоторые сцены знаменитого фильма
            «Бриллиантовая рука» снимались в Баку.</p>
        <p>7. Волга впадает в Каспийское море, расположенное на границе Европы и Азии. Именно в Каспийском море
            добывается 90%
            всей производимой чёрной икры на планете. Из-за того, что это море не имеет оттоков, учёные спорят о том,
            всё-таки
            море это или озеро. Если бы Каспийское море признали озером, то оно стало бы самым крупным на Земле.</p>
        <p>8. Белые медведи живут в Арктике. Арктика состоит из Северного Ледовитого океана и частей Гренландии,
            Исландии,
            Норвегии, Швеции, Финляндии, России, США (Аляска) и Канады. Это единственное место на Земле, где вы найдете
            нарвала.
            Эти существа известны как «единорог моря». Мужские нарвалы имеют прямой бивень, выступающий из передней
            части
            головы. Они могут вырасти до 3 метров в длину.</p>
        <p>9. Столица Китая - Пекин. Название «Пекин» переводится с китайского как «Северная столица». В древности в
            Китае
            существовало 4 великие столицы, и Пекин – одна из них.</p>
        <p>10. Калахари это пустыня, которая занимает 8% от всей территории Африки. Несмотря на то, что это пустыня,
            животный
            мир её довольно разнообразный и многочисленный. Известный своей загадочностью феномен "Поющие пески"
            находятся в
            Сахаре.</p>
        <p>11. Всего океанов 5 (пять). В 2000-м году к привычным четырём океанам добавился Южный океан (Антарктический),
            хотя
            разговоры о нём ведутся уже не одну сотню лет.</p>
        <p>12. Самый тёплый океан - Тихий. Его средняя температура составляет 19,4˚С, что на 2 градуса выше, чем в
            Индийском
            океане. Тихий океан теплее, так как больше по площади, и его значительная часть находится в южных широтах и
            хорошо
            прогревается солнцем.</p>
        <p>13. На Земле шесть континентов: Евразия, Северная и южная Америки, Африка, Австралия и Антарктида.</p>
    </div>
{% endblock %}