{% extends('tests/result.html.twig') %}

{% block result %}
    <div class="container">
        {% if sum >= 7 and sum <= 10 %}
            <p><b>У тебя отличные знания об изобретателях!</b></p>
        {% elseif sum >= 4 and sum <= 6 %}
            <p><b>У тебя средние познания об изобретателях</b></p>
        {% elseif sum >= 0 and sum <= 3 %}
            <p><b>Ты почти ничего не знаешь об изобретателях...</b></p>
        {% endif %}

        <p>Правильных ответов:</p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ scale }}%;"
                 aria-valuenow="{{ scale }}"
                 aria-valuemin="0"
                 aria-valuemax="100">{{ sum }} из 10
            </div>
        </div>

        <br/>

        <h3>Правильные ответы</h3>
        <ol>
            <li>Мясорубку изобрёл Карл Дрез в середине 19 века. Но это не единственные его достижения.
                Велосипед, самокат и пишущая машинка также были созданы им.
            </li>
            <li>Первый в истории паровоз был построен в 1801 году британским изобретателем Ричардом Тревитиком.
                Ефим же и Мирон Черепановы впервые построили паровоз лишь в 1833 году в России.
            </li>
            <li>Жозеф Гильотен предложил использовать гильотину в 1791 году взамен сожжениям на костре,
                повешениям и четвертованиям. Гильотен считал новое изобретение более гуманным способом наказания.
                Кроме того, гильотину было решено применять ко всем слоям населения, подчеркивая равенство
                граждан перед законом. Хотя подобные орудия уже существовали в природе (например, "Шотладнская дева"),
                но именно гильотина с её косым лезвием ("барашком") стало стандартным орудием
                для смертельной казни во Франции.
            </li>
        </ol>
    </div>
{% endblock %}