{% extends('tests/result.html.twig') %}

{% block result %}
    <div class="container">
        {% if sum >= 10 and sum <= 12 %}
            <p><b>У вас отличные знания в музыке!</b></p>
        {% elseif sum >= 5 and sum <= 9 %}
            <p><b>Вы неплохо разбираетесь в музыке!</b></p>
        {% elseif sum >= 0 and sum <= 4 %}
            <p><b>Ваши знания в музыке ниже среднего. Тем не менее, вам удалось верно ответить на некоторые вопросы в
                    таком сложном тесте!</b></p>
        {% endif %}

        <p>Правильных ответов:</p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ scale }}%;"
                 aria-valuenow="{{ scale }}"
                 aria-valuemin="0"
                 aria-valuemax="100">{{ sum }} из 12
            </div>
        </div>
    </div>
{% endblock %}