{% extends('tests/result.html.twig') %}

{% block result %}
    <div class="container">
        {% if sum >= 40 and sum <= 47 %}
            <p><b>У вас отличные знания о России!</b></p>
            {% elseif sum >= 20 and sum <= 39 %}
            <p><b>У вас средние знания о России</b></p>
            {% elseif sum >= 0 and sum <= 19 %}
            <p><b>Ваши знания о России ниже среднего. Тем не менее, вам удалось верно ответить на некоторые вопросы!</b></p>
        {% endif %}

        <p>{% trans %}Correct answers{% endtrans %}:</p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ scale }}%;"
                 aria-valuenow="{{ scale }}"
                 aria-valuemin="0"
                 aria-valuemax="100">{{ sum }} {% trans %}out of{% endtrans %} 47
            </div>
        </div>
    </div>
{% endblock %}