{% extends('tests/result.html.twig') %}

{% block result %}
    <div class="container">
        {% if sum >= 10 and sum <= 12 %}
            <p><b>У вас отличные знания о реках!</b></p>
            {% elseif sum >= 6 and sum <= 9 %}
            <p><b>У вас средние знания о реках</b></p>
            {% elseif sum >= 0 and sum <= 5 %}
            <p><b>Ваши знания о реках ниже среднего. Тем не менее, вам удалось верно ответить на некоторые вопросы!</b></p>
        {% endif %}

        <p>{% trans %}Correct answers{% endtrans %}:</p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ scale }}%;"
                 aria-valuenow="{{ scale }}"
                 aria-valuemin="0"
                 aria-valuemax="100">{{ sum }} {% trans %}out of{% endtrans %} 12
            </div>
        </div>

        <br/>

        {% if sum >= 12 %}
            {% include "/tests/_medal.html.twig" with {'name': 'Знаток рек'|trans} %}
        {% endif %}
    </div>
{% endblock %}