{#{% extends('tests/result.html.twig') %}#}

{% block result %}
    {% if sum >= 74 %}
        <p><b>У вас явная алекситимия.</b></p>
        <p>То есть снижение или отсутствие способности к распознаванию, дифференцированию и выражению эмоциональных
            переживаний и телесных ощущений. Иногда в это понятие также включают низкую эмоциональную чувствительность в
            отношении других людей, низкую эмоциональную вовлечённость в обыденной жизни</p>
        <p>По мнению автора теста алекситимия определяется следующими когнитивно-аффективными психологическими
            особенностями:</p>
        <ul>
            <li>Трудностью в определении (идентификации) и описании собственных чувств;</li>
            <li>Трудностью в проведении различий между чувствами и телесными ощущениями;</li>
            <li>Снижением способности к символизации (бедность фантазии и других проявлений воображения);</li>
            <li>Фокусированием в большей мере на внешних событиях, чем на внутренних переживаниях.</li>
        </ul>
        <p>Люди, которые не могут выразить своих эмоций, накапливают их внутри, они вытесняются в подсознание и позже
            проявляются в физических блоках и зажимах. Артериальная гипертензия, ишемия, астма, атеросклероз, гастриты,
            колиты, дерматиты, ожирение - все это может быть последствиями невыраженных эмоций. Так что время от времени
            нужно давать своим эмоциям выход, даже если чувства не поддаются логическому описанию.</p>
    {% elseif sum >= 1 and sum <= 62 %}
        <p><b>Вы нормально распознаёте, дифференцируете и выражаете эмоциональные переживания и телесные ощущения.</b></p>
    {% elseif sum >= 63 and sum <= 73 %}
        <p><b>Вы находитесь в зоне риска.</b></p>
    {% elseif sum == 70 %}
        <p><b>По данным НИИ им. Бехтерева вы относитесь к больным неврозами.</b></p>
    {% elseif sum == 72 %}
        <p><b>По данным НИИ им. Бехтерева вы относитесь к больным психосоматическими заболеваниями.</b></p>
    {% elseif sum == 71.8 %}
        <p><b>По данным НИИ им. Бехтерева вы относитесь к больным бронхиальной астмой.</b></p>
    {% elseif sum == 72.6 %}
        <p><b>По данным НИИ им. Бехтерева вы относитесь к больным гипертонической болезнью.</b></p>
    {% elseif sum == 71.1 %}
        <p><b>По данным НИИ им. Бехтерева вы относитесь к больным язвенной болезнью.</b></p>
    {% elseif sum == 59 %}
        <p><b>По данным НИИ им. Бехтерева вы относитесь к группе здоровых.</b></p>
    {% endif %}

    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{ scale }}%;"
             aria-valuenow="{{ scale }}"
             aria-valuemin="0"
             aria-valuemax="100">{{ sum }} {% trans %}out of{% endtrans %} 130
        </div>
    </div>
{% endblock %}