{% if form.vars.value.id %}
    <div style="text-align: right; margin-bottom: -50px">
        <a href="{{ ru }}" class="btn btn-sm btn-light">Просмотр RU</a>
        <a href="{{ en }}" class="btn btn-sm btn-light">Просмотр EN</a>
    </div>
{% endif %}