<div class="test-result-achieve">
    <img class="test-result-achieve__medal" alt="{{ name }}" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSpKD5sEGlTQTMF9yXGq2nI9mbLU-pG3-_MjsxylJgktPfgJR7k&usqp=CAU"/>
    <span class="test-result-achieve__name">{{ name }}</span>
</div>