<html lang="ru">
<head>
    <title>Iframe checker</title>
</head>
<body>
<script>
    window.parent.postMessage({load: 'I am testonomica 1.'}, '*');
    setTimeout(function () {
        window.parent.postMessage({timeout: 'I am testonomica 2.'}, '*');
    }, 1000);
</script>

<script src="https://widget.cloudpayments.ru/bundles/cloudpayments/"></script>
</body>
</html>