{% extends 'base.html.twig' %}

{% block title %}Тесты онлайн{% endblock %}

{% block body %}
    <div class="container">
        <h1>Тесты онлайн</h1>
        {# <div class="row"> #}
        <table class="table table-striped">
            <thead>
            <tr>
                <td>Название</td>
            </tr>
            </thead>
            <tbody>
            {% for test in tests %}
                {# <article class="col-lg-3 col-12 test-in-list"> #}
                <tr>
                    <td>
                        <a href="{{ path('tests.view', {slug: test.slug}) }}">{{ test.name|e }}</a>
                    </td>
                </tr>
                {# </article> #}
            {% endfor %}
            {# </div> #}
            </tbody>
        </table>
    </div>
{% endblock %}