.form-group.optional-field {
  > label, legend {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dashed;
    //text-decoration-color: blue;
  }
  .form-widget {

  }
}

.my-full-width {
  .form-widget {
    flex: 0 0 100%; //question
    width: 100%; //items
    &-compound {
      width: 100%;
    }
  }
  &.full-width {
    .form-widget {
      padding-right: 0;
    }
  }
}

.form-widget-compound .form-row {
  .form-group:last-child {
    padding: 0 20px 15px 0;
  }
}

.form-widget-compound .row {
  margin: inherit;
  //&> .form-group {
  //  padding: inherit;
  //}
}

.questions-panel {
  .content-panel-body {
    background: #b2c8ea;
  }
}